<style>
    .fs_smaller{
        font-size: smaller;
    }
    .whatsapp_chat_grey{
        background-color: #202c33;
    }

    .whatsapp_chat_green{
        background-color: #005c4b;
    }
</style>
<div class="content-wrapper">
    
    <!-- Content Header (Page header) -->
    <!-- <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">CHATROOM</h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div> -->

    <br />

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                     
                    <div class="card direct-chat direct-chat-primary "> <!-- collapsed-card -->
                        
                        <!-- Card Header -->
                        <div class="card-header" id="chat-header">
                            <h3 class="card-title" id="header-msgr-title">
                                Welcome to <b>Open</b> chatroom
                                
                                <!-- Join BTN -->
                                <button id="join-chatroom" class="btn btn-primary btn-sm"> Join </button>
                                
                                <!-- Disconnect BTN -->
                                <button id="leave-chatroom" class="btn btn-danger btn-sm" hidden> Leave </button>
                            </h3>

                            <div class="card-tools">
                                <!-- <span data-toggle="tooltip" title="3 New Messages" class="badge badge-primary">3</span> -->
                                
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                    <!-- <i class="fas fa-plus" id="connect-chat-open"></i> -->
                                </button>

                                <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts"
                                        data-widget="chat-pane-toggle">
                                    <i class="fas fa-comments"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body" id="chat-body">
                            <!-- Conversations are loaded here -->
                            <div 
                                class="direct-chat-messages" 
                                id="message-view"
                                style="height:52vh">
                            </div>
            
                            <!-- Contacts are loaded here -->
                            <div class="direct-chat-contacts">
                                <ul class="contacts-list">
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user1-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date float-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">How have you been? I was...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user7-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            Sarah Doe
                                            <small class="contacts-list-date float-right">2/23/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">I will be waiting for...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user3-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            Nadia Jolie
                                            <small class="contacts-list-date float-right">2/20/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">I'll call you back at...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user5-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            Nora S. Vans
                                            <small class="contacts-list-date float-right">2/10/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Where is your new...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user6-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            John K.
                                            <small class="contacts-list-date float-right">1/27/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Can I take a look at...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                    <li>
                                        <a href="#">
                                        <img class="contacts-list-img" src="/AdminLTE/dist/img/user8-128x128.jpg">
                
                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                            Kenneth M.
                                            <small class="contacts-list-date float-right">1/4/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Never mind I found...</span>
                                        </div>
                                        <!-- /.contacts-list-info -->
                                        </a>
                                    </li>
                                    <!-- End Contact Item -->
                                </ul>
                                <!-- /.contacts-list -->
                            </div>
                        
                        </div>
                        
                        <!-- Card Footer -->
                        <div class="card-footer" id="chat-footer">
                            <!-- <form action="#" method="post"></form> -->

                            <div class="input-group">
                                <!-- message field -->
                                <input 
                                    type="text" 
                                    name="message" 
                                    placeholder="Type Message ..." 
                                    class="form-control"
                                    id="message-content"
                                />

                                <!-- Send BTN -->
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-primary" id="send-message">Send</button>
                                </span>

                            </div>
                        </div>
                        
                    </div>

                </div>
                <!-- /.col-md-6 -->
            </div>
        </div>
    </div>
    
</div>

<!-- Socket.io Front End Lib -->
<script src="/socket.io/socket.io.js"></script> 


<script src="/js/globals.js"></script>
<script src="/js/chatroom.js"></script>



